
* {
    box-sizing: border-box;
}

:root {
    --linear-grad: linear-gradient(to right, #141E30, #243B55);
    --grad-clr1: #F08A5D;
    --grad-clr2: #F08A5D;
}

body {
    background-image: url('../assets/sincerely-media-nGrfKmtwv24-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'MavenPro', sans-serif;
    margin-top: 7vw;
}

.container {
    margin:auto;
    position: relative;
    width: 850px;
    height: 500px;
    box-shadow: 25px 30px 50px #5557;
    border-radius: 13px;
    overflow: hidden;
}

.form-container {
    background-color: white;
    position: absolute;
    width: 60%;
    height: 100%;
    padding: 0px 40px;
    transition: all 0.6s ease-in-out;
}

.sign-up-container {
    opacity: 0;
    z-index: 1;
}

.sign-in-container {
    z-index: 2;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
}

h1 {
    color: var(--grad-clr1);
}

.social-container a {
    border: 1px solid #F08A5D;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}

span {
    font-size: 12px;
}

.infield {
    position: relative;
    margin: 8px 0px;
    width: 100%;
}

input {
    width: 100%;
    padding: 12px 15px;
    background-color: #f6f5f7;
    border: none;
    outline: none;
}

label {
    position: absolute;
    left: 50%;
    top:100%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background: #F08A5D;
    transition: 0.3s;
}

input:focus ~ label {
    width: 100%;
}

.social-container a {
    color: #F08A5D;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0px;
}

a.forgot {
    padding-bottom: 3px;
    border-bottom: 2px solid #f9ac8a;
}

button {
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid var(--grad-clr1);
    background: var(--grad-clr2);
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
}

.form-container button {
    margin-top: 17px;
    transition: 80ms ease-in;
}

.form-container button:hover {
    background: white;
    color: var(--grad-clr1);
}

.overlay-container{
    position: absolute;
    top: 0;
    left: 60%;
    width: 40%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 9;
}

#overlayBtn {
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 64%;
    transform: translateX(-50%);
    width: 143.67px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 20px;
    background: transparent;
}

.overlay {
    position: relative;
    background: #F08A5D;
    color: #fff;
    left: -150%;
    height: 100%;
    width: 250%;
    transition: transform 0.6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    text-align: center;
    height: 100%;
    width: 340px;
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    right: 60%;
    transform: translateX(-12%);
}
.overlay-right {
    right: 0;
    transform: translateX(0%);
}
.overlay-panel h1 {
    color: white;
}

.right-panel-active .overlay-container {
    transform: translateX(-150%);
}
.right-panel-active .overlay {
    transform: translateX(50%);
}
.right-panel-active .overlay-left{
    transform: translateX(25%);
}
.right-panel-active .overlay-right{
    transform: translateX(35%);
}
.right-panel-active .sign-in-container{
    transform: translateX(20%);
    opacity: 0;
}
.right-panel-active .sign-up-container{
    transform: translateX(66.7%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%, 50% {
        opacity: 0;
        z-index: 1;
    }
    50.1%, 100% {
        opacity: 1;
        z-index: 5;
    }
}
.btnScaled {
    animation: scaleBtn 0.6s;
}

@keyframes scaleBtn {
    0% {
        width: 143.67px;
    }
    50% {
        width: 250px;
    }
    100% {
        width: 143.67px;
    }
}
@media (max-width:779px) {
    .container{
        width: 70vw;
        height: 90vh;
    }
    .container::before{
        display: none;
    }
    form{
        width: 80%;
    }
    .overlay-container{
        display: none;
    }
}
