@font-face {
    font-family: 'MavenPro';
    src: url('./fonts/MavenPro-VariableFont_wght.ttf');
}

body{
    background-color: white;
}

#search-container input[type="search"]::-webkit-search-cancel-button {
    cursor: pointer;
}

*{
    font-family: 'MavenPro', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
}

.wrapper {
    text-align: center;
    width: auto;
    margin: 0 20vw;
    background-color: rgb(255, 255, 255);
}

#search-container {
    margin: 1em 0;
}

#search-container input {
    background-color: transparent;
    width: 40%;
    border-bottom: 2px solid #c55221;
    padding: 1em 0.3em;
}

#search-container input:focus {
    border-bottom-color: #F08A5D;
}

#search-container button {
    padding: 1em 2em;
    margin-left: 1em;
    background-color: #F08A5D;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 0.5em;
    cursor: pointer;
}

.button-value {
    border: 2px solid #F08A5D;
    padding: 1em 2.2em;
    border-radius: 3em;
    background-color: transparent;
    color: #F08A5D;
    cursor: pointer;
}

.button-value:hover {
    background-color: #F08A5D;
    color: white;
}

.active {
    background-color: #F08A5D;
    color: white;
}

#products {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1em;
    padding: 2em 0;
}

.card {
    background-color: white;
    max-width: 15em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1em 2em 2.5em rgba(1,2,68,0.08);
}

.image-container {
    text-align: center;
}

img{
    max-width: 100%;
    object-fit: contain;
    height: 16em;
}

.container {
    padding: 1em;
    color: #000000;
}

.container h5{
    font-weight: 800;
}

.hide{
    display: none;
}

@media screen and (max-width: 720px) {
    img{
        max-width: 100%;
        object-fit: contain;
        height: 10em;
    }
    .card{
        max-width: 10em;
        margin-top: 1em;
    }
    #products{
        grid-template-columns: auto auto;
        grid-column-gap: 1em;
    }
}