/* CSS Styles */

@font-face {
  font-family: 'MavenPro';
  src: url('./fonts/MavenPro-VariableFont_wght.ttf');
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'MavenPro';
}

body {
  margin-top: 60px;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

#topimg {
  background-image: url('./assets/topimg.png');
  width: 100%;
  height: 80vh;
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  margin: 0 15vw;
  margin-bottom: 150px;
  color: #ffffff;
  text-align: center;
}

.text h2 {
  font-size: 5vmin;
  margin-top: 50px;
  margin-bottom: 30px;
}

.text .topbtn{
  text-decoration: none;
  display: block;
} 

.topbtn {
  font-size: 4vmin;
  font-weight: 500;
  padding: 14px 0;
  margin: 0 25vw;
  background: #F08A5D;
  border-radius: 40px;
  border: 2px solid #fff;
  color: #ffffff;
}

.more {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  color: #ffffff;
  text-decoration: underline;
}

/* Scrollable container and arrows */
.scroll-container {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.scroll-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 2rem;
  z-index: 10;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  padding: 10px;
}

.scroll-arrow.left {
  left: 0;
}

.scroll-arrow.right {
  right: 0;
}

/* Promotion items */
.promotion-p {
  display: inline-block;
  white-space: nowrap;
  overflow-x: auto;
  margin-left: 100px;
}

.promotion-p::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.book-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  position: relative;
}

.slider-button {
  background-color: #f0f0f0;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  padding: 5px;
  top: 50%;
  transition: 0.2s;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.slider-button:hover {
  background-color: #dadada;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}


.book-list {
  display: flex;
  align-items: center;
  overflow-x: auto;
  scrollbar-width: none;
  justify-content: space-between;
  margin: 0;
}

.book-thumb {
  height: 300px;
  margin: 25px;
  padding: 0;
  box-shadow: 0px 0px 5px 1px gray;
  cursor: pointer;
}

.book-thumb:hover {
  box-shadow: 0px 0px 10px 1px gray;
  transition: 0.2s;
}

.book-item {
  text-align: center;
}
.book-price {
  font-weight: 600;
}

.promotionnav-item {
  color: #000;
  text-align: center;
  text-decoration: none;
  width: 200px;
  height: auto;
  display: inline-block;
  margin-right: 50px;
}

.promotion-title {
  font-family: 'MavenPro';
  color: #000;
  font-size: 20px;
  text-decoration: none;
  margin-top: 0;
  padding: 0px;
  margin-left: 100px;
}

.promotion-image {
  width: 100%;
  height: 300px;
  padding: 0px;
  margin: 0px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .promotionnav-item {
    width: 200px;
    margin-right: 20px;
  }
  .promotion-title {
    font-size: 18px;
    margin-left: 10px;
  }
  .promotion-p {
    margin-left: 20px;
  }

  .scroll-arrow {
    display: none;
  }
}

.category-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
  margin: 20px auto;
  max-width: 1200px;
}
.category-item {
  background-color: #f6f2f0;
  border: 2px solid #F08A5D;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
}
.category-item:hover {
  background-color: #F08A5D;
  transform: translateY(-5px);
    .category-link{
      color: #fff;
      font-weight: bold;
    }
}
.category-link {
  text-decoration: none;
  color: #333;
  font-size: 1.2em;
  font-style: italic;
}
.rating {
  margin-left: 100px;
  margin-top: 10px;
}
.book-title {
  text-decoration: none;
  font-style: italic;
  color:#F08A5D;
}

@media (max-width: 600px) {
  .topbtn {
    margin: 0 10vw;
  }

  .rating {
    margin-left: 50px;
  }

  .text h2 {
    font-size: 5.5vmin;
  }

  .promotion-p1 {
    display: block;
  }
}

@media (max-width: 1000px) {
  .topbtn {
    margin: 0 15vw;
  }
}

.subscribe-form-container {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.subscribe-form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

#subscribe-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="email"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #F08A5D;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
  font-family: MavenPro, sans-serif;
}

button[type="submit"]:hover {
  background-color: #b44f24;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#quote-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.quote-card {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.quote-text {
  font-style: italic;
  color: #000000;
}

.quote-source {
  font-weight: bold;
  color: #999;
}

#refresh-btn {
  padding: 10px 20px;
  background-color: #F08A5D;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  font-weight: 600;
  font-family: MavenPro, sans-serif;
}

#refresh-btn:hover {
  background-color: #b44f24;
}

/* Add this CSS to your existing stylesheet or create a new one */


.team-section {
  margin-top: 40px;
  margin-left: 100px;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 20px;
  width: 100%;
}

.team-member {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 10px;
  flex-wrap: wrap;
}

.team-member-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.member-details {
  flex: 1;
  min-width: 150px;
}

.member-details h3 {
  margin-top: 0;
  font-size: 18px;
  margin-bottom: 10px;
}

.member-details p {
  margin: 5px 0;
  font-size: 14px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .team-section {
    margin-left: 0;
  }
  .team-member {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .team-member-img {
      margin-right: 0;
      margin-bottom: 10px;
  }

  .member-details {
      min-width: auto;
  }

  .member-details h3 {
      font-size: 18px;
  }

  .member-details p {
      font-size: 14px;
  }
  .team-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}