/* CSS Styles */

@font-face {
  font-family: 'MavenPro';
  src: url('./fonts/MavenPro-VariableFont_wght.ttf');
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'MavenPro';
}

body {
  margin-top: 60px;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

#topimg {
  background-image: url('./assets/topimg.png');
  width: 100%;
  height: 80vh;
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  margin: 0 15vw;
  margin-bottom: 150px;
  color: #ffffff;
  text-align: center;
}

.text h2 {
  font-size: 5vmin;
  margin-top: 50px;
  margin-bottom: 30px;
}

.text .topbtn{
  text-decoration: none;
  display: block;
} 

.topbtn {
  font-size: 4vmin;
  font-weight: 500;
  padding: 14px 0;
  margin: 0 25vw;
  background: #F08A5D;
  border-radius: 40px;
  border: 2px solid #fff;
  color: #ffffff;
}

.more {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  color: #ffffff;
  text-decoration: underline;
}
#promotion {
  background-color: #ffffff;
  max-height: 200vw;
  margin-left: 9vw;
}

.promotionnav {
  align-items: center;
  display: flex;
}

.promotionnav-item {
  background-color: #faf7f7;
  display: block;
  color: #000;
  text-align: center;
  text-decoration: none;
  border-radius: 4%;
  width: 10vw;
  height: auto;
  padding: 1vw;
  margin-left: 3vw;
}

.promotion-title {
  font-family: 'MavenPro';
  color: #000;
  font-size: 1.75vw;
  text-decoration: none;
  margin-top: 0;
  padding: 0px;
}

.promotion-image {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  border-radius: 4%;
}


.details {
  display: flex;
  font-style: italic;
}

.details-b1 {
  display: flex;
  flex-direction: column;
  padding-left: 4vw;
}

.details-b2 {
  display: flex;
  flex-direction: column;
}

.details {
  display: flex;
  font-style: italic;
}

.details-b1 {
  display: flex;
  flex-direction: column;
  padding-left: 4vw;
}

.details-b2 {
  display: flex;
  flex-direction: column;
}

/* #best-seller span a{
  font-size: 1.5vw;
  padding-right: 6vw;
  text-decoration: none;
  color: #0084ff;
  transition: 0.3s;
} */

.details a{
  font-size: 1.5vw;
  padding-right: 6vw;
  text-decoration: none;
  color: #0084ff;
  transition: 0.3s;
}

#best-seller h5{
  font-size: 1.5vw;
}


.post-item {
  background-color: rgba(240, 138, 93, 0.8);
  display: block;
  color: #ffffff;
  text-align: left;
  text-decoration: none;
  border-radius: 2vw;
  width: 15vw;
  height: fit-content;
  padding: 3vw;
}

.post1-item {
  background-color: rgba(240, 138, 93, 0.8);
  display: block;
  font-size: 1vw;
  color: #ffffff;
  text-align: left;
  text-decoration: none;
  border-radius: 10%;
  width: 12vw;
  height: fit-content;
  padding: 2vw;
}


.postnav {
  align-items: center;
  display: flex;
  font-size: 1vw;
}

.promotionnav-item1 {
  color: #000;
  text-decoration: none;
  border-radius: 4%;
  width: 10vw;
  height: auto;
  background-blend-mode:lighten;
  margin-left: 8vw; 
  border: solid 3px; 
  border-color: #F08A5D; 
  padding-bottom: 0vw;
  padding-left: 2vw;
  padding-right: 2vw;
  background-image:url('assets/book2.jpg');
  background-size:cover ;
    background-color: rgba(250, 247, 247, 0.8);
  }

#notification {
  padding-bottom: 5vw;
  margin-right: 30vw;
  padding-left: 3vw;
}

.noti a{
  transition: 0.3s;
  font-style: italic;
  padding-left: 2vw;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.3vw;
  line-height: 2vw;
}

.noti a:hover{
  color:#000000;
}

@media (max-width: 600px) {
  .topbtn {
    margin: 0 10vw;
  }

  .text h2 {
    font-size: 5.5vmin;
  }

  .promotion-p1 {
    display: block;
  }
}

@media (max-width: 1000px) {
  .topbtn {
    margin: 0 15vw;
  }
}

@media (max-width: 900px){
  /* p1 */
  .promotionnav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -5em;
  }
  
  .promotionnav-item {
    margin-top: 1em;
    padding: 1.5em 2em;
    border: 1px solid #ffa48e;
    border-radius: 10px;
  }

  .promotionnav-item .promotion-image {
    width: 80px;
    height: 110px;
    margin-left: -0.3em;
  }

  .promotion-p2 {
    margin-left: -1em;
  }

  .promotionnav-item-1 {
    margin-left: -1em;
  }

  .promotion-title {
    font-size: 3vw;
  }

  /*p2*/
  .promotionnav1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -12em;
  }
  
  /* p3 */
  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -10em;
  }

  .details h5{
    margin-top: -0.5em;
  }

  .details-b2 {
    margin-left: -2.6em;
  }
  /* p4 */


  /* p5 */
  .promotion-image1 {
    width: 80px;
    height: 110px;
    margin-right: -1.35em;
    border-radius: 10px;
  }

  .promotionnav-item1 {
    width: 30vw; 
    height: 65vw;
  }

  .promotionnav-item1 i{
    font-size: 4vw
  }

  .promotionnav-item1-p h5{
    font-size: 2vw;
  }

  .notification {
    width: 76vw;
    height: 100vw;
    margin-left: 1em;
  }

  .notification nav{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .notification nav .noti {
    margin-top: 1.5em;
  }

  .noti a{
    font-size: 4vw;
  }
}