/* CSS Styles */
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #F08A5D;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  color:#F08A5D
}

#globalheader {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#globalnav{
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}
