@font-face {
  font-family: 'MavenPro';
  src: url('../fonts/MavenPro-VariableFont_wght.ttf');
}

/* CSS Styles */

* {
  box-sizing: border-box;
  outline: none;
  border: none;
}

.wrapper {
  text-align: center;
  width: auto;
  margin: 0 20vw;
  background-color: rgb(255, 255, 255);
}

#search-container {
  margin: 1em 0;
}

#search-container input {
  background-color: transparent;
  width: 40%;
  border-bottom: 2px solid #c55221;
  padding: 1em 0.3em;
  justify-content: left;
}

#search-container input:focus {
  border-bottom-color: #F08A5D;
}

#search-container button {
  padding: 1em 2em;
  margin-left: 1em;
  background-color: #F08A5D;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  margin-top: 0.5em;
  cursor: pointer;
}

.button-value {
  border: 2px solid #F08A5D;
  padding: 1em 2.2em;
  border-radius: 3em;
  background-color: transparent;
  color: #F08A5D;
  cursor: pointer;
}

.button-value:hover {
  background-color: #F08A5D;
  color: white;
}

.active {
  background-color: #F08A5D;
  color: white;
}

.section-p1 {
  padding: 40px 80px;
}

#product1 {
  text-align: center;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* cac phan tu con se tu dong xuong dong moi neu khong du khong gian tren mot dong */
}

#product1 .pro {
  width: 15%;
  /* min-width: 170px; */
  min-width: 100px;
  padding: 10px 12px;
  

  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);

  transition: 0.2s ease;
  position: relative;
}



#product1 .pro img {
  width: 100%;
  height: auto;
}

#product1 .pro img:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

#search-container {
  margin: 1em 17em;
}

.save-book-link {
  text-decoration: none;
}

#search-container button {
  padding: 1em 2em;
  margin-left: 1em;
  background-color: #6759ff;
  color: #fff;
  border-radius: 5px;
  margin-top: 0.5em;
}

@media (max-width: 1000px) {

  .books {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #buttons .button-value {
    margin-bottom: 0.5em;
    padding: 1em 2em;
  }

  .section-p1 {
    padding: 10px 20px;
  }

  #search-container button{
    padding: 0.5em 2em;
    margin-top: 2em;
  }

  #search-container {
    margin: 1em 2.5em;
  }

  #search-container input {
    justify-content: left;
    padding: 0.8em 6em;
  }

  #buttons .button-value {
    min-width: 10em;
    position: relative;
    margin: 0.5em;
  }

  #product1 .pro {
    width: 20%;
    /* min-width: 170px; */
    min-width: 100px;
    padding: 10px 12px;
    
  
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  
    transition: 0.2s ease;
    position: relative;
  }
  

  #product1 .pro-container {
    justify-content: center;
  }

  .wrapper #search-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .wrapper #search-input {
    margin-bottom: -7px;
  }
}

@media (max-width: 600px) {
  #product1 .pro {
    width: 45%;
  }
}