body {
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    margin: 0 auto;
    padding: 1em 0;
    padding-top: 5px;
}

#book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.book-item {
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 200px;
    text-align: center;
}

#settings {
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
}

.settings-items {
    margin: 0 10px;

}

#font-size, #font-family, #background-color {
    border-radius: 5px;
}

#font-size, #background-color {
    font-family: MavenPro, sans-serif;
}

#fullscreen-btn {
    position: absolute;
    top: 10px;
    right: 0px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #F08A5D;
    color: white;
    border: none;
    font-family: MavenPro;
    font-weight: 500;
}

.book-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

#book-reader {
    position: relative;
    text-align: center;
}

#back-btn {
    position: absolute;
    top: 10px;
    left: 0px;
    padding: 10px 20px;
    background-color: #F08A5D;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: MavenPro;
    font-weight: 500;
    border-radius: 20px;
}

#book-view {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: calc(100vh - 150px);
    margin: 25px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
}

.page {
    width: 48%;
    height: 100%;
    padding: 0 15px 15px 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fafafa;
    text-align: justify;
    font-size: 14px;
    line-height: 1.6;
    overflow-y: scroll;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.page p {
    margin-bottom: 0;
}

#controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#controls button {
    background-color: #F08A5D;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 20px;
    font-family: MavenPro;
    font-weight: 500;
}

.footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
}

.page-number {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 10px;
}

@media (max-width: 1140px) {
    #page-right {
        display: none;
    }

    #page-left {
        width: 100%;
    }
    #fullscreen-btn, #back-btn {
        position: relative;
        margin-bottom: 20px;
    }
    .top-menu {
        display: block;
    }
    #settings {
        display: block;
    }
    #book-view {
        height: 600px;
        width: 90%;
    }
}

@media (max-width: 400px) {
    #book-view {
        height: 500px;
        width: 90%;
    }
    .container {
        width: 70%;
        justify-content: center;
    }
}