/* BookReader.css */

body {
    margin: 0;
    padding: 0;
    
}

.container {
    width: 70%; /* Decrease container width */
    margin: 0 auto;
    padding: 1em 0; /* Reduce top and bottom padding */
    padding-top: 5px;
}

#book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.book-item {
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 200px;
    text-align: center;
}

#font-size, #font-family {
    border-radius: 5px;
}

#fullscreen-btn {
    position: absolute;
    top: 10px;
    right: 0px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #F08A5D;
    color: white;
    border: none;
    font-family: MavenPro;
    font-weight: 500;
}

.book-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

#book-reader {
    position: relative;
    text-align: center;
}

#back-btn {
    position: absolute;
    top: 10px;
    left: 0px;
    padding: 10px 20px;
    background-color: #F08A5D;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: MavenPro;
    font-weight: 500;
    border-radius: 20px;
}

#book-view {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px); /* Adjusted height to leave space for footer */
    margin: 20px 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.page {
    width: 48%; /* Increase page width */
    height: 100%;
    margin: 0 1%; /* Adjust margin */
    padding: 15px; /* Reduce padding */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fafafa;
    text-align: justify;
    font-size: 14px; /* Reduced font size */
    line-height: 1.6; /* Adjusted line height */
    max-height: 80vh; /* Limiting height of the page content */
    overflow-y: auto; /* Adding vertical scrollbar when content exceeds height */
    max-height: 80vh; /* Limiting height of the page content */
    overflow:hidden;
    position:relative; /* Relative positioning for page number */
}

.page p {
    margin-bottom: 0; /* Remove bottom margin for paragraph */
}


#controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#controls button {
    background-color: #F08A5D;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 20px;
    font-family: MavenPro;
    font-weight: 500;
}

.footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 12px; /* Smaller font size for footer */
    padding-top: 5px;
}

#page-left, #page-right {
    padding-bottom: 30px; /* Adding space for footer */
}

.page-number {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 10px; /* Smaller font size for page number */
}