@font-face {
    font-family: 'MavenPro';
    src: url('../fonts/MavenPro-VariableFont_wght.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'MavenPro';
}

.visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* START OF NAVBAR */
/* START OF NAVBAR */
/* START OF NAVBAR */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #F08A5D;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1000;
  }
  
  .link-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .globalnav-item:hover {
    background-color: #f06326;
    border-radius: 5px;
  }

  .globalnav-item-show:hover {
    background-color: #f06326;
    border-radius: 5px;
  }
  
  .logo-link {
    margin-right: auto;
  }
  
  nav svg {
    fill: #fff;
  }
  
  #sidebar-active {
    display: none;
  }
  
  #new-logo {
    display: none;
  }
  
  .open-sidebar-button, .close-sidebar-button {
    display: none;
  }
  
  #BookHub {
    width: 10vw;
    height: auto;
    margin: 30px;
  }
  
  .globalnav-item {
    font-size: 20px;
    font-weight: 500;
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.2s ease-out;
  }

  .globalnav-item-show {
    font-size: 20px;
    font-weight: 500;
    height: 100%;
    padding: 0 20px;
    align-items: center;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.2s ease-out;
    display: none;
  }
  
  #profile-button {
    background-color: transparent;
    border-style: none;
    border-radius: 20px;
    padding: 0;
    width: 40px;
    height: 40px;
    margin: auto 40px;
    cursor: pointer;
    touch-action: manipulation;
    transition: background-color 0.2s ease-out;
    justify-content: center;
    align-items: center;
    display: flex;
}

#profile-button:hover {
    background-color: #f06326;
    border-radius: 20px;
    padding: 0;
    width: 40px;
    height: 40px;
    margin: 40px;
    cursor: pointer;
    touch-action: manipulation;
    justify-content: center;
    align-items: center;
    display: flex;
}
  
  #profile-icon {
    margin-top: 0;
    width: 30px;
    height: auto;
  }
  
  @media (max-width: 900px) {
    .link-container {
      flex-direction: column;
      align-items: flex-start;
  
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 10;
      width: 300px;
  
      background-color: #F08A5D;
      box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
      transition: 0.75s ease-out;
    }
  
    .globalnav-item {
      box-sizing: border-box;
      height: auto;
      width: 100%;
      padding: 20px 30px;
      justify-content: flex-start;
    }

    .globalnav-item-show {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
        display: flex;
    }

    
  
    .open-sidebar-button, .close-sidebar-button {
      padding: 20px;
      display: block;
      margin-left: auto;
    }
  
    #sidebar-active:checked ~ .link-container {
      right: 0;
    }
  
    /* Show the new logo and hide the original logo when the navbar is collapsed */
    #new-logo {
      display: block;
      height: 50px; /* Adjust based on your design */
      margin-left: 10px;
    }
  
    #sidebar-active:checked ~ #overlay {
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9;
    }
  
    #BookHub {
      width: 150px;
    }
  
    #profile-button {
        display: none;
        background-color: transparent;
        border-style: none;
        border-radius: 10px;
        cursor: pointer;
        margin: 20px;
    }
  }
  
/* END OF NAVBAR */
/* END OF NAVBAR */
/* END OF NAVBAR */

#main {
    font-family: 'MavenPro';
    margin: 0 14vw;
    padding: 0;
    padding-top: 10vw;
    position: relative; ;
    z-index: 0;
}


#profile-header {
    align-items: center;
    display: flex;
    margin: 0;
    margin-top: 4vw;
    padding: 0;
}

#profile-avatar {
    border: solid 0.4vw #f08a5d;
    border-radius: 50%;
    width: 14vw;
    height: auto;
    margin: 0;
    padding: 0;
}

#profile-name {
    color: #000000;
    font-size: 3vw;
    font-weight: 500;
    margin: 0;
    margin-bottom: 0.5vw;
    padding: 0;
}

#profile-content {
    margin: 0;
    margin-top: 1vw;
    padding: 0;
}

#profile-intro {
    color: #000000;
    background-color: #f9f9f9;
    border-radius: 1vw;
    font-size: 1.3vw;
    max-height: fit-content;
    margin: 0;
    padding: 1vw 2vw;
}

.intro {
    background-color: #ffffff;
    border: solid 0.1vw #000000;
    border-radius: 2vw;
    display: flex;
    margin: auto;
    padding: 0.5vw 1vw;
}

#profile-posts {
    color: #000000;
    font-size: 1.5vw;
    width: 100%;
    height: auto;
    margin: 2vw 0;
    padding: 0;
}

.post {
    color: #000000;
    background-color: #f9f9f9;
    border-radius: 1vw;
    width: 28%;
    height: fit-content;
    margin: auto;
    padding: 1.5vw;
    margin-bottom: 2vw;
}

.post-image {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 0;
}

#list-header {
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 0.5vw;
    display: flex;
    font-size: 1.25vw;
    font-weight: 400;
    margin: 0;
    padding: 0;
    width: 100%;
    position: sticky;
}

.receipt {
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 0.5vw;
    display: flex;
    font-size: 1.25vw;
    font-weight: 400;
    margin: 0;
    padding: 0;
    width: 100%;
}

.receipt-category {
    color: #000;
    margin: auto;
    padding: 2vw 1vw;
    text-align: center;
    text-decoration: none;
    
}

.container {
    margin: auto;
    margin-left: 0;
    background-color: #fff;
    padding: 2vw;
    width: 30%;
}

.form-group {
    margin-bottom: 1vw;
}

label {
    font-weight: 500;
    font-size: 1.25vw;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.5vw;
    border: 0.1vw solid #ccc;
    border-radius: 4px;
}

button {
    display: block;
    width: 40%;
    padding: 0.5vw;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.4vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* BEGIN OF ACCOUNT OPTIONS */
/* BEGIN OF ACCOUNT OPTIONS */
/* BEGIN OF ACCOUNT OPTIONS */

#blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    z-index: 1;
}

#account-options {
    position: fixed;
    top: -100%;
    width: 100%;
    background: white;
    padding: 100px 150px 80px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    z-index: 2;
    transition: top 0.5s ease;
    margin: 0;
}

#account-options.show {
    top: 0;
}

#myprofile {
    font-size: 18px;
    color: #6f6f6f;
    margin: 20px 0 0;
}

.option-icons {
    margin: 0;
    height: auto;
    width: 20px;
}

#account-options ul {
    list-style: none;
    margin: 20px 0 0;
    padding: 0;
}

#account-options ul li {
    margin: 20px 0;
    padding: 0;
    align-items: center;
    display: flex;
}
#account-options ul li a {
    font-size: 20px;
    color: #000;
    text-decoration: none;
    margin: 0 15px;
}

.hidden {
    display: none;
}

@media  (max-width: 900px) {

}

/* END OF ACCOUNT OPTIONS */
/* END OF ACCOUNT OPTIONS */
/* END OF ACCOUNT OPTIONS */



/* START OF FOOTER */
/* START OF FOOTER */
/* START OF FOOTER */

footer {
    display: flex;
    flex-wrap: wrap;
    background-image: url('../assets/footer.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding: 20px;
}

.footer-content, .link_contact, .contact {
    flex: 1;
    min-width: 300px;
    padding: 20px;
}

.footer-content {
    padding-top: 20px;
    padding-bottom: 80px;
}

.link_contact, .contact {
    padding-top: 20px;
    padding-bottom: 20px;
}

.section-title {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 16px;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    margin-bottom: 16px;
}

.description {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 16px;
}

.social-links {
    display: flex;
    gap: 16px;
}

.social-icon {
    height: auto;
    width: 48px;
}

.links-list {
    list-style-type: none;
    padding-left: 0;
    font-size: 20px;
    text-align: left;
    font-weight: 500;
}

.links-list li {
    margin-bottom: 11px;
}

.myLink {
    color: white;
    text-decoration: none;
}

.contact-icon {
    height: auto;
    width: 32px;
}

.contact-info {
    font-size: 20px;
    font-weight: 500;
    vertical-align: middle;
}

.email-link {
    text-decoration: none;
    color: #ffffff;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
}

@media (max-width: 768px) {
    .footer-content, .link_contact, .contact {
        min-width: 100%;
        padding: 10px;
    }

    .links-list {
        text-align: left;
    }
}

/* END OF FOOTER */
/* END OF FOOTER */
/* END OF FOOTER */