@font-face {
    font-family: 'MavenPro';
    src: url('../fonts/MavenPro-VariableFont_wght.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'MavenPro';
}

.main {
    padding: 0 200px;
}

.visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.title-bar {
    background-color: #f8f8f8;
    color: #000;
    margin: 0;
    padding: 80px 200px;
    padding-bottom: 10px;
}

.title {
    font-size: 23px;
    font-weight: 500;
    margin: 0;
    text-align: left;
}

.sub-title {
    font-size: 35px;
    font-weight: 600;
    margin: 60px 0 20px;
}

.header {
    font-size: 32px;
    font-weight: 600;
    margin: 0px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.small-header {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.gray-bar {
    background-color: #f8f8f8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0 200px;
}

.pretty-box {
    justify-content: left;
    background-color: #ffffff;
    border-radius: 25px;;
    display: block;
    margin: 40px 0;
    padding: 40px 50px;
    width: 38%;
    min-height: 200px;
}

.box-link {
    font-size: 17px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
}

.box-link:hover {
    text-decoration: underline;
}

.header-box {
    font-size: 32px;
    font-weight: 500;
    margin: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding-bottom: 50px;
}

.col1 {
    display: block;
    align-items: top;
    justify-content: left;
    width: 400px;
}

.col2 {
    display: block;
    align-items: top;
    justify-content: left;
    width: 300px;
}

.col3 {
    display: block;
    align-items: top;
    justify-content: left;
    width: 300px;
}

.bullet {
    font-size: 17px;
    font-weight: 500;
    margin: 7px 0;
    padding: 0;
}

.properties {
    font-size: 17px;
    font-weight: 400;
    margin: 7px 0;
}

.edit {
    font-size: 17px;
    font-weight: 400;
    margin: 7px 0;
    padding: 0;
    color: #007bff;
    cursor: pointer;
}

.edit:hover {
    text-decoration: underline;
}

.book-slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    position: relative;
}

.slider-button {
    background-color: #f0f0f0;
    border-radius: 30px;
    cursor: pointer;
    display: flex; 
    font-size: 20px;
    padding: 5px;
    top: 50%;
    transition: 0.2s;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.slider-button:hover {
    background-color: #dadada;
}

.prev-button {
    left: 0;
}

.next-button {
    right: 0;
}

.book-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
    scrollbar-width: none;
    padding: 0 25px 0 0;
    margin: 0;
    width: 900px;
}

.book-thumb {
    width: 250px;
    height: auto;
    margin: 25px;
    padding: 0;
    box-shadow: 0px 0px 5px 1px gray;
}

.book-thumb:hover {
    box-shadow: 0px 0px 10px 1px gray;
    transition: 0.2s;
}

#shipping-settings, #payment-settings, #account-settings, #password-settings {
    border-radius: 25px;
    position: fixed;
    background-color: rgb(255, 255, 255);
    color: #000;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 30px 50px;
    z-index: 1001;
    width: fit-content;
}

#shipping-settings.show, #payment-settings.show, #account-settings.show, #password-settings.show {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    overflow-y: auto;
    max-height: 80vh;
}

.input-field {
    border-radius: 15px;
    background-color: #ffffff;
    border: solid 1px rgb(0, 0, 0);
    color: #000;
    justify-content: left;
    align-items: center;
    height: 50px;
    width: auto;
    display: block;
    margin: 10px 0;
    padding: 10px 0 0 25px;
}

.field-label {
    color: gray;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.input-box {
    border: none;
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    display: block;
    margin: 5px 5px 0 0;
    padding: 0;
    width: 95%;
    min-width: 400px;
    height: auto;
}

.input-box:focus {
    outline: none;
}

.submit-field {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-button {
    background-color: #007bff;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px 0;
    transition: 0.2s;
    width: 100px;
    height: 5%;
}

.submit-button:hover {
    background-color: #0056b3;
}

.cancel-button {
    background-color: #afafaf;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px 0;
    transition: 0.2s;
    width: 100px;
    height: 5%;
}

.cancel-button:hover {
    background-color: #8f8f8f;
}


/* START OF SAVES PAGE */
.saves-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.intro-header {
    font-size: 48px;
    font-weight: 500;
    margin: 30px 0 0;
    padding: 0;
}

.intro-icon {
    margin: 20px 0;
    padding: 0;
    width: 40px;
    height: auto;
}

.intro-properties {
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
}

.saved {
    display: inline-flex;
    justify-content: space-between;
    align-items: top;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
}

.scaled-book {
    width: 200px;
    height: auto;
    margin: 25px;
    padding: 0;
    box-shadow: 0px 0px 5px 1px gray;
}

.book-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 75%;
}

.book-row {
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0; 
    padding: 0;
}

.book-price {
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.quantity-selector {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.quantity-button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.quantity-button:hover {
    background-color: #0056b3;
}

.quantity {
    width: 50px;
    height: 30px;
    text-align: center;
    border: none;
    margin: 0 10px;
    font-size: 24px;
    font-weight: 500;
}

.total {
    display: inline-flex;
    font-size: 32px;
    font-weight: 500;
    justify-content: right;
    padding-top: 30px;
}

.total p {
    margin: 0; 
}

.pay {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
}

#checkout-button {
    background-color: #007bff;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px 20px;
    transition: 0.2s;
    width: 20%;
    height: 50px;
}

#checkout-button:hover {
    background-color: #0056b3;
}

#payment {
    border-radius: 25px;
    position: fixed;
    background-color: rgb(255, 255, 255);
    color: #000;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0 50px 20px;
    z-index: 1001;
    width: 30%;
}

#payment.show {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    max-height: 80vh;
}

.payment-header {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
}

.cancel-label {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.cancel-label:hover {
    text-decoration: underline;
    cursor: pointer;
}
/* END OF SAVES PAGE */

/* START OF ORDER */
.list-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.id_col {
    margin: 0;
    padding: 0;
    width: 10%;
}

.date-col {
    margin: 0;
    padding: 0;
    width: 20%;
}

.total-col {
    margin: 0;
    padding: 0;
    width: 20%;
}

.status-col {
    margin: 0;
    padding: 0;
    width: 50%;
}

.list-header {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    padding: 0 25px;
    text-align: center;
}

.list-item {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding: 0 25px;
    text-align: center;
}

.order { margin-bottom: 10px; cursor: pointer; }
        
.order-details { display: none; margin-left: 20px; }

/* END OF ORDER */

/* START OF RESPONSIVE DESIGN */

@media (max-width: 1280px) {
    .main {
        padding: 0 150px;
    }

    .title-bar {
        padding: 80px 150px 20px;
    }

    .title {
        font-size: 20px;
    }

    .sub-title {
        font-size: 30px;
        margin: 30px 0 10px;
    }

    .header {
        font-size: 28px;
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .small-header {
        font-size: 20px;
    }

    .gray-bar {
        justify-content: center;
        padding: 10px;
        width: auto;
    }

    .pretty-box {
        padding: 40px 50px;
        margin: 10px;
        max-width: 400px;
    }

    .box-link {
        font-size: 15px;
    }

    .row {
        padding-left: 20px;
        padding-bottom: 20px;
    }

    .col1 {
        margin-top: 7px;
        max-width: 300px;
    }

    .col2, .col3 {
        margin-top: 7px;
        max-width: 280px;
    }

    .bullet {
        font-size: 15px;
    }

    .properties {
        font-size: 15px;
    }

    .edit {
        font-size: 15px;
    }

    .book-list {
        width: 100%;
    }

    .book-thumb {
        max-width: 200px;
        margin: 15px;
    }

    .slider-button {
        display: none;
    }

    .input-field {
        margin: 5px 0;
        padding: 10px 0 0 15px;
    }

    .field-label {
        font-size: 13px;
    }

    .input-box {
        font-size: 15px;
        margin: 5px 0 0 0;
        min-width: 300px;
    }

    .submit-button {
        font-size: 15px;
        width: 20%;
        height: 5%;
    }

    .cancel-button {
        font-size: 15px;
        width: 20%;
        height: 5%;
    }

    .saves-intro {
        padding: 0 20px;
    }

    .intro-header {
        font-size: 40px;
    }

    .intro-icon {
        width: 30px;
        margin: 10px 0;
    }

    .intro-properties {
        font-size: 20px;
    }

    .scaled-book {
        width: 150px;
        margin: 15px;
    }

    .book-price {
        font-size: 28px;
        margin: 0;
    }

    .quantity-selector {
        margin: 0;
    }

    .quantity-button {
        font-size: 15px;
        width: 25px;
        height: 25px;
    }

    .quantity {
        width: 40px;
        height: 25px;
        font-size: 20px;
        margin: auto 0;
    }

    .total {
        font-size: 22px;
    }

    .pay {
        flex-direction: column;
        padding-bottom: 50px;
    }

    #checkout-button {
        font-size: 15px;
        width: 40%;
        height: 5%;
    }

    #payment {
        width: 85%;
        padding: 0 20px 20px;
        height: auto;
    }

    .payment-header {
        font-size: 28px;
    }

    .cancel-label {
        font-size: 18px;
    }
}

@media (max-width: 1024px) {
    .main {
        padding: 0 100px;
    }

    .title-bar {
        padding: 80px 100px 20px;
    }

    .title {
        font-size: 20px;
    }

    .sub-title {
        font-size: 30px;
        margin: 30px 0 10px;
    }

    .header {
        font-size: 28px;
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .small-header {
        font-size: 20px;
    }

    .gray-bar {
        padding: 10px;
        width: auto;
    }

    .pretty-box {
        padding: 25px 35px;
        margin: 10px;
        max-width: 400px;
    }

    .box-link {
        font-size: 15px;
    }

    .row {
        padding-left: 20px;
        padding-bottom: 20px;
    }

    .col1 {
        margin-top: 7px;
        width: 280px;
    }

    .col2, .col3 {
        margin-top: 7px;
        width: 250px;
    }

    .bullet {
        font-size: 15px;
    }

    .properties {
        font-size: 15px;
    }

    .edit {
        font-size: 15px;
    }

    .book-list {
        width: 100%;
    }

    .book-thumb {
        width: 75%;
        margin: 15px;
    }

    .slider-button {
        display: none;
    }

    #shipping-settings, #payment-settings, #account-settings, #password-settings, #payment {
        padding: 25px;
    }

    #shipping-settings.show, #payment-settings.show, #account-settings.show, #password-settings.show, #payment.show {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .input-field {
        margin: 5px 0;
        padding: 10px 0 0 15px;
    }

    .field-label {
        font-size: 13px;
    }

    .input-box {
        font-size: 15px;
        margin: 5px 0 0 0;
        min-width: 300px;
    }

    .submit-button {
        font-size: 15px;
        width: 20%;
        height: 5%;
    }

    .cancel-button {
        font-size: 15px;
        width: 20%;
        height: 5%;
    }

    .saves-intro {
        padding: 0 20px;
    }

    .intro-header {
        font-size: 40px;
    }

    .intro-icon {
        width: 30px;
        margin: 10px 0;
    }

    .intro-properties {
        font-size: 20px;
    }

    .scaled-book {
        width: 150px;
        margin: 15px;
    }

    .book-price {
        font-size: 28px;
        margin: 0;
    }

    .quantity-selector {
        margin: 0;
    }

    .quantity-button {
        font-size: 15px;
        width: 25px;
        height: 25px;
    }

    .quantity {
        width: 40px;
        height: 25px;
        font-size: 20px;
        margin: auto 0;
    }

    .total {
        font-size: 22px;
    }

    .pay {
        flex-direction: column;
        padding-bottom: 50px;
    }

    #checkout-button {
        font-size: 15px;
        width: 40%;
        height: 5%;
    }

    #payment {
        width: 85%;
        padding: 0 20px 20px;
        height: auto;
    }

    .payment-header {
        font-size: 28px;
    }

    .cancel-label {
        font-size: 18px;
    }

}

@media (max-width: 767px) {
    .main {
        padding: 0 20px;
    }

    .title-bar {
        padding: 80px 20px 20px;
    }

    .title {
        font-size: 20px;
    }

    .sub-title {
        font-size: 30px;
        margin: 30px 0 10px;
    }

    .header {
        font-size: 28px;
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .small-header {
        font-size: 20px;
    }

    .gray-bar {
        justify-content: center;
        padding: 10px;
        width: auto;
    }

    .pretty-box {
        padding: 40px 50px;
        margin: 10px;
        min-width: 200px;
    }

    .box-link {
        font-size: 15px;
    }

    .row {
        padding-left: 20px;
        padding-bottom: 20px;
    }

    .col1, .col2, .col3 {
        margin-top: 7px;
        width: 100%;
    }

    .bullet {
        font-size: 15px;
    }

    .properties {
        font-size: 15px;
    }

    .edit {
        font-size: 15px;
    }

    .book-list {
        width: 100%;
    }

    .book-thumb {
        width: 75%;
        margin: 15px;
    }

    .slider-button {
        display: none;
    }

    #shipping-settings, #payment-settings, #account-settings, #password-settings, #payment {
        padding: 20px;
        width: 85%;
    }

    #shipping-settings.show, #payment-settings.show, #account-settings.show, #password-settings.show, #payment.show {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .input-field {
        margin: 5px 0;
        padding: 10px 0 0 15px;
    }

    .field-label {
        font-size: 13px;
    }

    .input-box {
        font-size: 15px;
        margin: 5px 0 0 0;
        min-width: 300px;
    }

    .submit-button {
        font-size: 15px;
        width: 20%;
        height: 5%;
    }

    .cancel-button {
        font-size: 15px;
        width: 20%;
        height: 5%;
    }

    .saves-intro {
        padding: 0 20px;
    }

    .intro-header {
        font-size: 40px;
    }

    .intro-icon {
        width: 30px;
        margin: 10px 0;
    }

    .intro-properties {
        font-size: 20px;
    }

    .scaled-book {
        width: 150px;
        margin: 15px;
    }

    .book-info {
        width: auto;
    }

    .book-row {
        flex-direction: column;
        align-items: center;
    }

    .book-price {
        font-size: 28px;
        margin: 0;

    }

    .quantity-selector {
        margin: 0;
    }

    .quantity-button {
        font-size: 15px;
        width: 25px;
        height: 25px;
    }

    .quantity {
        width: 40px;
        height: 25px;
        font-size: 20px;
        margin: auto 0;
    }

    .total {
        display: block;
        flex-wrap: wrap;
        font-size: 22px;
        text-align: left;
    }

    .pay {
        flex-direction: column;
        padding-bottom: 50px;
    }

    #checkout-button {
        font-size: 15px;
        width: 40%;
        height: 5%;
    }

    #payment {
        width: 85%;
        padding: 0 20px 20px;
        height: auto;
    }

    .payment-header {
        font-size: 28px;
    }

    .cancel-label {
        font-size: 18px;
    }
}

#loading-spinner {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    border: 12px solid #f3f3f3;
    border-top: 12px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
