/* CSS Styles */

@font-face {
  font-family: 'MavenPro';
  src: url('../fonts/MavenPro-VariableFont_wght.ttf');
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#search-container input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
}

* {
  font-family: 'MavenPro', Arial, sans-serif;
  box-sizing: border-box;
  outline: none;
  border: none;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

#search-container {
  margin: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-container input {
  background-color: transparent;
  width: 40%;
  border-bottom: 2px solid #c55221;
  padding: 1em 0.3em;
}

#search-container input:focus {
  border-bottom-color: #ee8d63;
}

#search-container button {
  padding: 1em 2em;
  margin-left: 1em;
  background-color: #F08A5D;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  margin-top: 0.5em;
  cursor: pointer;
}

@media (max-width: 900px) {
  #search-container {
      flex-direction: column;
      width: 100%;
  }

  #search-container input {
      width: 80%;
  }

  #search-container button {
      width: 50%;
      margin-left: 0;
      margin-top: 1em;
  }
}

.section-p1 {
  margin-left: 100px;
}
.category {
  display: flex;
}
.pro-container {
  overflow-x: auto;
  padding: 1em;
  gap: 1em;
}

.category-title {
  font-size: 1.5em;
  margin-bottom: 1em;
  color: #F08A5D;
  font-weight: 700;
}

.book-item {
  padding: 1em;
  flex: 0 0 auto;
  cursor: pointer;
}

.book-item img {
  height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.book-item:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

.store-rating {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 0.5em;
  font-size: 0.9em;
  color: #FFD700;
}

@media (max-width: 600px) {
  .book-item {
      min-width: 100px;
  }
  .section-p1 {
    margin-left: 10px;
  }
}
